.options {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 20em;
  width: 30%;
}

.options input,
.options output,
.options textarea,
.options select,
.options button {
  width: 70%;
}

.options input[type="checkbox"],
.options input[type="radio"] {
  width: initial;
  margin-right: auto;
}

.options > * {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.options > button {
  width: 100%;
}
