#chart-container .orgchart .node .title {
  height: 40px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#chart-container .orgchart .node {
  width: 180px;
}

#chart-container .orgchart .Sprint .title {
  background-color: lightblue;
}

#chart-container .orgchart .Open .title {
  /*You can change the color of the open nodes here*/
}

#chart-container .orgchart .InProgress .title {
  background-color: yellow;
}

#chart-container .orgchart .ToVerify .title {
  background-color: greenyellow;
}

#chart-container .orgchart .Done .title {
  background-color: greenyellow;
}
